@charset "UTF-8";

/* 인트로 */
#intro { position: fixed; top: 0; left: 0; width: 100%; overflow: hidden; z-index: 100; background: #fff; }
#intro .intro_rolling { position: relative; overflow: hidden; z-index: 1; }
#intro .intro_rolling .bx-wrapper { overflow: hidden; }
#intro .intro_rolling .bx-viewport { z-index: 10; }
#intro .intro_rolling .bx-viewport ul { height: 100%; overflow: hidden; margin: 0; padding: 0; }
#intro .intro_rolling .bx-viewport ul li { height: 100%; overflow: hidden; overflow: hidden; z-index: 1; float: left; width: 100%; }
#intro .intro_rolling .visual { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; z-index: -1; }
#intro .intro_rolling .txt_area { position: relative; top: 50%; margin-top: -35px; text-align: center; z-index: 100; }
#intro .intro_rolling .txt_area p { display: block; margin-bottom: 15px; }
#intro .intro_rolling .txt_area p img { height: 36px; }
#intro .intro_rolling .txt_area a { display: inline-block; font-family: "Open Sans", sans-serif; font-size: 12px; color: #fff; }
#intro .intro_rolling .txt_area a:after { content: ''; display: block; width: 100%; height: 1px; background: #fff; }
#intro .intro_movie { position: relative; overflow: hidden; z-index: 1; background: #111; }
#intro .intro_movie .intro_cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; z-index: 5; }
#intro .intro_movie .mov_cont { position: absolute; top: 50%; left: 0; width: 100%; height: 100%; }
#intro .intro_movie .mov_cont iframe { width: 100%; height: 100%; }
#intro .intro_movie .btn_play { position: absolute; top: 50%; left: 50%; width: 42px; height: 42px; margin: -21px 0 0 -21px; background: url("/m/front/img/ssts/common/spr_slider.png") 0 -20px no-repeat; background-size: 50px auto; text-indent: -9999px; z-index: 50; }
#intro .intro_close { position: absolute; top: 20px; right: 15px; width: 14px; height: 13px; background: url("/m/front/img/ssts/common/spr_slider.png") -30px 0 no-repeat; background-size: 50px auto; text-indent: -9999px; cursor: pointer; z-index: 100; }

/* 해시태그 */
.main_hash_tag {margin: 0 4.7%;}
.main_hash_tag .title { text-align: center; margin: auto; font-size: 1.7em; font-family: Open Sans, "Noto Sans KR", sans-serif; font-weight: 400; letter-spacing: -0.02em; line-height: 2; color: #555; }
.main_hash_tag .thumbnail-list-in { overflow: hidden; }
.main_hash_tag .swiper-wrapper ul { width: 120% }
.main_hash_tag .swiper-wrapper ul li { width: 23.3vw; float: left; list-style: none; position: relative; }
.main_hash_tag .swiper-wrapper ul li img { border-radius: 37%; width: 67px; margin-bottom: 5px; }
.main_hash_tag .swiper-wrapper ul li div { text-align: center; font-size: 1em; margin-top: 0px; font-family: Noto Sans KR, sans-serif; font-weight: 400; }

.header_container header {
    border-bottom: none;
}

/* 메인 상단 Nav */
.main-nav {
    padding: 6px 20px 0;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
}
.main-nav .main-nav__item {
    width: auto;

    font-family: 'Apple SD Gothic Neo', 'SamsungOne', 'Noto Sans KR', 'Malgun Gothic', 맑은고딕, Dotum, 돋움, Gulim, 굴림, Helvetica, Arial, sans-serif;
}
.main-nav .main-nav__link {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding: 13px 9px;
}
.main-nav .main-nav__item:first-child .main-nav__link {
    margin-left: -9px;
}
.main-nav .main-nav__item:last-child .main-nav__link {
    margin-right: -9px;
}

/* 메인 상단 롤링 */
.main_rolling { z-index: 1; position: relative; }
.main_rolling .main_visual { /* 20180125 edit */ }
.main_rolling .main_visual .swiper-slide { position: relative; }
.main_rolling .main_visual .swiper-slide a { display: block; position: relative; }
.main_rolling .main_visual .swiper-slide img.bnr, .main_rolling .main_visual .swiper-slide img.ratio { width: 100%; display: block; }
.main_rolling .main_visual .swiper-slide .title.black > em { color: #4a4a4a; }
.main_rolling .main_visual .swiper-slide iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.main_rolling .main_visual .swiper-slide .bg_play { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #111; opacity: .5; }
.main_rolling .main_visual .swiper-slide .btn_play { position: absolute; top: 50%; left: 50%; background: url("/m/front/img/ssts/common/spr_slider.png") 0 0 no-repeat; background-size: 50px auto; background-position: 0 -20px; width: 42px; height: 42px; margin: -21px 0 0 -21px; overflow: hidden; line-height: 500px; }
.main_rolling .bx-wrapper .bx-pager .bx-pager-item a { background: none; border: 1px solid #fff; border-radius: 50%; }
.main_rolling .bx-wrapper .bx-pager .bx-pager-item a.active { background-color: #fff; }

.main_recommend {
    margin: 60px 0;
    font-family: 'Apple SD Gothic Neo', 'SamsungOne', 'Noto Sans KR', 'Malgun Gothic', 맑은고딕, Dotum, 돋움, Gulim, 굴림, Helvetica, Arial, sans-serif;
}
.main_recommend .container {
    margin: 0 1.7%;
}
.main_recommend .card-goods__group.carousel-freeMode.swiper-container {
    padding: 0 calc(8/375*100vw);
}
.main_recommend .card-goods__group.carousel-freeMode .carousel-item:last-child {
    margin-right: 1.5vw;
}

.title_h2 { padding: 45px 0 25px; font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 18px; text-align: center; }
.title_h3 { padding: 45px 0 0px; font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 18px; text-align: center; }
.main_feature .title_h2 {font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 18px; text-align: center;}
.main_feature .title_h2 > span { position: relative; display: inline-block; padding: 0 40px; background: #fff; z-index: 2; }
.main_feature .title_h2:after { content: ''; display: block; position: relative; bottom: 12px; width: 100%; height: 1px; background: #111; z-index: 1; }
.main_stories { padding-top: 30px; }
.main_stories .title_h2 {font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 18px; text-align: center;}
.main_stories .title_h2 > span { position: relative; display: inline-block; padding: 0 40px; background: #fff; z-index: 2; }
.main_stories .title_h2:after { content: ''; display: block; position: relative; bottom: 12px; width: 100%; height: 1px; background: #111; z-index: 1; }
.main_recommend .title_h2 {font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 18px; text-align: center;}
.main_recommend .title_h2 > span { position: relative; display: inline-block; padding: 0 40px; background: #fff; z-index: 2; }
.main_recommend .title_h2:after { content: ''; display: block; position: relative; bottom: 12px; width: 100%; height: 1px; background: #111; z-index: 1; }
.main_instagram .title_h3 {font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 18px; text-align: center;}
.main_instagram .title_h3 > span { position: relative; display: inline-block; padding: 0 40px; background: #fff; z-index: 2; }
.main_instagram .title_h3:after { content: ''; display: block; position: relative; bottom: 12px; width: 100%; height: 1px; background: #111; z-index: 1; }

.bx-wrapper { position: relative; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; width: 11px; height: 19px; margin-top: -9px; background: url("/m/front/img/ssts/common/spr_slider.png") 0 0 no-repeat; background-size: 50px auto; text-indent: -9999px; z-index: 100; }
.bx-wrapper .bx-controls-direction a.disabled { display: none; }
.bx-wrapper .bx-controls-direction a.bx-prev { left: 4.7%; background-position: 0 -100px; }
.bx-wrapper .bx-controls-direction a.bx-next { right: 4.7%; background-position: -25px -100px; }

.main_brand { margin-top: 45px; }
.main_brand .brand_wrap a { display: block; position: relative; margin-top: 15px; }
.main_brand .brand_wrap a img { display: block; width: 100%; }
.main_brand .brand_wrap ul.tagList { position: absolute; top: 0; }
.main_brand .brand_wrap ul.tagList li { float: left; padding: 3px 6px; color: white; font-size: 15px; }
.main_brand .brand_wrap ul.tagList li + li { margin-left: 4px; }
.main_brand .brand_wrap .icon_area { margin: 25px 0 11px 6px; }
.main_brand .brand_wrap .icon_area:after { content:''; display:block; clear:both; }
.main_brand .brand_wrap .icon_area .icon { width: 62px; margin-right: 10px; float: left; }
.main_brand .brand_wrap .txt_area { float: left; }
.main_brand .brand_wrap .txt_area .partnerNm { font-weight: bold; font-size: 0.95em; }
.main_brand .brand_wrap .txt_area > strong { font-size: 1.3em; font-family: "Open Sans", Apple SD Gothic Neo, Noto Sans KR, sans-serif; font-weight: 500; line-height: 26px; height: 22px; letter-spacing: -0.044em; display: block; margin-top: 1.2vw; }
.main_brand .brand_wrap .txt_area > span { display: block; font-size: 1.1em; font-family: "Open Sans", Noto Sans KR, sans-serif; font-weight: 400; color: #aaa; max-height: 36px; overflow: hidden; }
.main_brand .brand_wrap .suggest { margin-top: -20px; }
.main_brand .thumbnail-list ul { overflow: hidden; margin: 0 -2.5px; }
.main_brand .thumbnail-list ul li { float: left; width: 33.333%; padding: 0 2.5px 30px; margin-bottom: 0; }
.main_brand .thumbnail-list ul li .prd-info { margin-top: 10px; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt { padding-top: 0; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt .brand { display: none; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt .otype { display: none; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt span { text-align: left; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt span.name { max-height: 35px; -webkit-line-clamp: 1; font-size: 12px; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt .price { margin-bottom: 0; }
.main_brand .thumbnail-list ul li .prd-info .etc_txt .price .p_o { color: #999; }

.main_banner { margin-top: 15px; }
.main_banner .inner { padding-left: 0; padding-right: 0; }
.main_banner .btns { display: block; width: 100px; background: #fff; font-family: "Noto Sans KR", sans-serif; font-weight: 500; line-height: 25px; text-align: center; letter-spacing: 1px; }
.main_banner .subpage { padding: 0 1.7%; }
.main_banner .subpage > a { display: block; position: relative; }
.main_banner .subpage > a img { width: 100%; display: block; padding: 15px 0px 0px 2px; }
.main_banner .subpage > a > .word1 { font-family: 'Open Sans', 'Apple SD Gothic Neo'; text-decoration: underline; text-underline-position: under; left: 4vw; top: 8vw; width: 450px; font-size: 3.5vw; font-weight: bold; position: absolute; color: #FFFFFF }
.main_banner .subpage > a > div > .word2 { font-family: 'Open Sans', Apple SD Gothic Neo, sans-serif; font-size: 2em; font-weight: 500; padding: 2px 0 5px 0; letter-spacing: -0.02em; }
.main_banner .subpage > a > div > .word3 { font-family: 'Open Sans', 'Apple SD Gothic Neo', 'Nanum Gothic'; font-size: 4.2vw; line-height: 1.5em; letter-spacing: -0.03em; }
.main_banner .subpage > a > div { padding: 11px 11px 25px 11px; }
.main_banner .subpage > a .btns { position: absolute; bottom: 25px; left: 50%; margin-left: -50px; }
.main_banner .subpage > a + a { margin-top: 15px; }
.main_banner .benefit { overflow: hidden; margin: 30px 4.7% 0; }
.main_banner .benefit > a { display: block; position: relative; padding: 20px 112px 20px 25px; background: #f3f3f3; line-height: 22px; }
.main_banner .benefit > a + a { margin-top: 1px; }
.main_banner .benefit > a:after { content: ''; display: block; position: absolute; top: 50%; right: 0; margin-top: -40px; width: 102px; height: 80px; background: url("/m/front/img/ssts/main/spr_icon.png") 0 0 no-repeat; background-size: 102px 240px; }
.main_banner .benefit > a span { display: inline-block; width: 100%; font-size: 15px; font-weight: bold; }
.main_banner .benefit > a i { font-size: 12px; color: #000; text-decoration: underline; }
.main_banner .benefit > a.b2:after { background-position: 0 -80px; }
.main_banner .benefit > a.b3:after { background-position: 0 -160px; }
.main_banner .outlet { margin-top: 30px; position: relative; }
.main_banner .outlet img { display: block; width: 100%; }

.main_banner.swiper-container .subpage {
    padding: 0;
}
.main_banner.swiper-container .swiper-slide {
    padding: 0 1.7%;
}
.main_banner.swiper-container .subpage > a > div {
    background-color: #FAFAFA;
    padding: 20px;
}
.main_banner.swiper-container .subpage > a > div > .word2 {
    padding-top: 0;
}
.main_banner.swiper-container .swiper-pagination {
    margin-top: 10px;
    position: static;
}
.main_banner.swiper-container .swiper-pagination-bullet {
    border-color: #111;
}
.main_banner.swiper-container .swiper-pagination-bullet-active {
    background-color: #111111;
}

/* main_mall 20180119 edit */
.main_mall { margin: 14px 0 0; padding-bottom: 25px; }
.main_mall .inner { overflow: hidden; }
.main_mall .slider_wrap { margin-top: 15px; }
.main_mall .slider_wrap .bxslider { /* 20180125 edit */ }
.main_mall .slider_wrap .bxslider .swiper-slide > div { position: relative; }
.main_mall .slider_wrap .bxslider .swiper-slide > div a { display: block; }
.main_mall .slider_wrap .bxslider .swiper-slide > div a img { display: block; width: 100%; }
.main_mall .slider_wrap .bx-wrapper .bx-pager { position: static; margin-top: 15px; }
.main_mall .slider_wrap .bx-wrapper .bx-pager .bx-pager-item { vertical-align: top; }
.main_mall .slider_wrap .bx-wrapper .bx-pager .bx-pager-item a { background: none; border: 1px solid #000; border-radius: 50%; }
.main_mall .slider_wrap .bx-wrapper .bx-pager .bx-pager-item a.active { background-color: #000; }
.main_mall .banner_wrap { position: relative; }
.main_mall .banner_wrap a { display: block; }
.main_mall .banner_wrap a img { display: block; width: 100%; }
.main_mall .banner_wrap a .txt_area > span:after { width: 130px; }
.main_mall .txt_area { display: block; position: absolute; bottom: 0; left: 0; font-family: "Noto Sans KR", sans-serif; color: #fff; }
.main_mall .txt_area > span { position: relative; display: block; padding: 0 0 15px 25px; font-size: 15px; line-height: 18px; font-family: "Noto Sans KR", sans-serif; font-weight: 400; }
.main_mall .txt_area > span:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 106px; height: 2px; background: #fff; }
.main_mall .txt_area > em { display: inline-block; margin: 10px 0 25px; padding-left: 25px; font-size: 10px; font-family: "Noto Sans KR", sans-serif; font-weight: 400; letter-spacing: 1px; }
.main_mall .txt_area.black { color: #111; }
.main_mall .txt_area.black > span:after { background: #111; }

/* main_stories 20171128 edit */
.main_stories { /*
.box_wrap {
	> div {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 150px;
		padding: 30px;
		overflow: hidden;
		+ div {
			margin-top: 15px;
		}
		> p {
			display: inline-block;
			position: relative;
			margin-left: -30px;
			padding: 0 0 20px 30px;
			&:after {
				@include ct;
				@include posa_bl();
				right: 0;
				width: 100%;
				height: 2px;
				background: $white;
			}
		}
		> span {
			display: block;
			margin: 16px 0 26px;
			font-size: 13px;
			color: $white;
			line-height: 20px;
		}
		> a {
			display: block;
			width: 100px;
			background: $white;
			font-family: $ns;
			font-weight: 500;
			line-height: 25px;
			text-align: center;
			letter-spacing: 1px;
		}
		&.black {
			> p {
				&:after {
					background: $black;
				}
			}
			> span {
				color: $black;
			}
			> a {
				background: $black;
				color: $white;
			}
		}
	}
}*/ }
.main_stories .box_wrap a { display: block; position: relative; }
.main_stories .box_wrap a img { display: block; width: 100%; }
.main_stories .box_wrap a div { position: absolute; top: 37.3%; left: 5.2%; width: 36%; padding-top: 10px; color: #fff; }
.main_stories .box_wrap a div span { font-size: 13px; line-height: 16px; max-height: 32px; overflow: hidden; display: -webkit-box; display: box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.main_stories .box_wrap a div i { margin-top: 15px; display: block; width: 100px; background: #fff; font-family: "Noto Sans KR", sans-serif; font-weight: 500; line-height: 25px; text-align: center; letter-spacing: 1px; color: #111; }
.main_stories .box_wrap a div.black { color: #111; }
.main_stories .box_wrap a div.black i { background: #111; color: #fff; }
.main_stories .box_wrap a + a { margin-top: 15px; }

.main_recommend .thumbnail-list { margin: 0 4.7%; }
.main_recommend .more-button { text-align: center; }
.main_recommend .more-button a { display: inline-block; border-bottom: 1px solid #111; color: #111; line-height: 14px; font-size: 12px; font-family: "Open Sans", sans-serif; font-weight: 400; }

/* main_instagram 20171219 edit */
.main_instagram { margin: 45px 0 0; padding: 0 4.7%; border-top: 1px solid #e7e7e7; overflow: hidden; }
.main_instagram .title_h2 i { display: block; font-size: 11px; font-weight: normal; margin-top: 15px; }
.main_instagram .title_h2 i a { display: inline-block; line-height: 19px; background: url(/m/front/img/ssts/main/icon_instagram.png) no-repeat 0 0; background-size: 18px 18px; height: 18px; padding-left: 24px; }
.main_instagram ul { overflow: hidden; margin: -5px 0 0 -5px; }
.main_instagram ul li { float: left; width: calc(100%/2 - 5px); padding-bottom: calc(100%/2 - 5px); overflow: hidden; position: relative; margin: 5px 0 0 5px; }
.main_instagram ul li a { display: block; position: absolute; width: 100%; height: 100%; text-align: center; }
.main_instagram ul li a img { width: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-height: 100%; max-width: 100%; }
.main_instagram .more { margin-top: 30px; }

/* .main_sale { margin: 0 4.7%; } */
/* .main_sale 20180418 edit CHM */
.main_sale { margin: 28px 0; padding: 0 4.7%; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }
.main_sale a { display: block; position: relative; padding: 20px 0; }
.main_sale a:after { display: block; clear: both; content: ''; }
.main_sale a + a { border-top: 1px solid #e7e7e7; }
.main_sale a img.prd-img { float: right; width: 44.8%; max-width: 260px; }
.main_sale a span { display: block; }
.main_sale a span.prd-info { width: 50%; }
.main_sale a span.prd-info .img img { max-width: 100%; }
.main_sale a span.prd-info .etc_txt { width: 50%; padding-bottom: 8%; position: absolute; bottom: 20px; left: 0; }
.main_sale a span.prd-info .etc_txt .brand { color: #999; font-size: 10px; margin-bottom: 3px; }
.main_sale a span.prd-info .etc_txt .name { overflow: hidden; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.main_sale a span.prd-info .etc_txt .price span { display: inline; }
.main_sale a span.prd-info .etc_txt .price .p_x { margin-right: 18px; color: #999; text-decoration: line-through; }

/*# sourceMappingURL=main.css.map */
