@import "//fonts.googleapis.com/earlyaccess/notosanskr.css";
/*.sub #magazine .tit_h2 { width: 50%; border-bottom: 0 none; margin-bottom: 0; }*/
.sub #magazine .tit_h2 { border-bottom: 0 none; margin-bottom: 0; }

#magazine { position: relative; }
#magazine .btn_more { display: block; width: 130px; border: 1px solid #111; margin: 0 auto; }
#magazine .btn_more a { display: block; padding: 9px 0 10px; font-family: "Open Sans", sans-serif; font-size: 14px; text-align: center; }
#magazine .hot_wrap { margin-bottom: 60px; background: #fbfbfb; }
#magazine .hot_wrap > div { float: left; text-align: center; }
#magazine .hot_wrap > div + div { width: 400px; padding-top: 140px; }
#magazine .hot_wrap > div + div > span { display: block; }
#magazine .hot_wrap > div + div > span.cate { font-family: "Open Sans", sans-serif; font-size: 16px; color: #222; }
#magazine .hot_wrap > div + div > span.tit { margin: 9px 0 50px; font-size: 20px; line-height: 30px; }
#magazine .hot_wrap > div + div > span.date { font-size: 12px; color: #999; }
#magazine .hot_wrap:after { display: block; clear: both; content: ''; }
#magazine .news_list ul { overflow: hidden; margin-right: -20px; }
#magazine .news_list ul li { position: relative; float: left; width: 374px; margin-right: 12px; margin-bottom: 60px; overflow: hidden; }
#magazine .news_list ul li a { display: block; font-size: 0; }
#magazine .news_list ul li a img { width: 100%; }
#magazine .news_list ul li a ul.tagList { position: absolute; top: 15px; }
#magazine .news_list ul li a ul.tagList li { float: left; padding: 3px 9px; margin: 0 0 0 15px; color: white; font-size: 15px; width: auto; }
#magazine .news_list ul li a ul.tagList li + li { margin-left: 8px; }
#magazine .news_list ul li a > p { padding: 27px 0; }
#magazine .news_list ul li a > p span { display: block; }
#magazine .news_list ul li a > p span.tit { margin-bottom: 8px; font-size: 14px; height: 18px; }
#magazine .news_list ul li a > p span.date { font-size: 12px; color: #999; }
#magazine .view_wrap { border-top: 1px solid #e5e5e5; }
#magazine .view_wrap .prd_with_list { margin-top: 100px; padding-top: 93px; border-top: 1px solid #e5e5e5; }
#magazine .view_wrap .prd_with_list h4 { margin-bottom: 55px; font-family: "Open Sans", sans-serif; font-size: 20px; font-weight: 600; text-align: center; }
#magazine .view_wrap .set_list .set { width: 1140px; margin: 0 auto; }
#magazine .view_wrap .set_list .set + .set { border-top: 1px solid #e5e5e5; }
#magazine .view_wrap .set_list .set h4 { margin-bottom: 55px; font-family: "Open Sans", sans-serif; font-size: 20px; font-weight: 600; text-align: center; padding-top: 93px; }
#magazine .view_wrap .view_nav { overflow: hidden; margin-top: 30px; border-top: 1px solid #e5e5e5; }
#magazine .view_wrap .view_nav > div { float: left; width: 50%; padding-top: 24px; padding-bottom: 16px; line-height: 22px; }
#magazine .view_wrap .view_nav > div span { display: block; color: #999; }
#magazine .view_wrap .view_nav > div a:hover { text-decoration: underline; }
#magazine .view_wrap .view_nav > div.next { border-left: 1px solid #e5e5e5; padding-left: 28px; }
#magazine .tv_list { margin-bottom: 100px; }
#magazine .tv_list .main_movie { margin-bottom: 14px; }
#magazine .tv_list ul li { width: 0; float: left; }
#magazine .tv_list .bx-wrapper { position: relative; }
#magazine .tv_list .bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; width: 25px; height: 40px; margin-top: -20px; background: url("/front/img/ssts/common/spr_slider.png") 0 0 no-repeat; text-indent: -9999px; z-index: 100; }
#magazine .tv_list .bx-wrapper .bx-controls-direction a.disabled { display: none; }
#magazine .tv_list .bx-wrapper .bx-controls-direction a.bx-prev { left: 10px; background-position: -40px -60px; }
#magazine .tv_list .bx-wrapper .bx-controls-direction a.bx-next { right: 10px; background-position: -80px -60px; }
#magazine .tv_list .movie { position: relative; overflow: hidden; /* height: 640px; */ background-color: #000; /* 20171228 added */ }
#magazine .tv_list .movie .youtube-movie { position: relative; height: 0; padding-bottom: 56.25%; }
#magazine .tv_list .movie .youtube-movie iframe { position: absolute; width: 100%; height: 100%; left: 0; }
#magazine .tv_list .movie a.vod_cover { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; }
#magazine .tv_list .movie a.vod_cover .vod_btn {  display: block; position: absolute; left: 50%; top: 50%; margin: -24px 0 0 -26px; width: 55px; height: 55px; overflow: hidden; line-height: 500px; background: url(/front/img/ssts/common/spr_slider.png) -105px 0 no-repeat; background-size: 13em; }
#magazine .style_list { margin: 60px 0 40px; }
#magazine .style_list .grid_wrap { overflow: hidden; margin-right: -75px; }
#magazine .style_list .grid_wrap .grid_list { float: left; width: 330px; margin-right: 75px; margin-bottom: 55px; }
#magazine .style_list .grid_wrap .grid_list a { display: block; }
#magazine .style_list .grid_wrap .grid_list a .thumb_etc { margin-top: 16px; }
#magazine .style_list .grid_wrap .grid_list a .thumb_etc span { display: block; }
#magazine .style_list .grid_wrap .grid_list a .thumb_etc span.tit { font-size: 13px; line-height: 20px; color: #373737; }
#magazine .style_list .grid_wrap .grid_list a .thumb_etc span.date { margin-top: 3px; color: #999; }
#magazine .instagram { border-top: 1px solid #e5e5e5; /* list 20171228 edit */ }
#magazine .instagram .info { position: relative; height: 120px; margin: 45px 0 50px; padding-left: 148px; }
#magazine .instagram .info:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 120px; height: 120px; background: url("/front/img/ziozia/common/img_instagram.png") no-repeat 0 0; }
#magazine .instagram .info > span { display: block; }
#magazine .instagram .info > span.tit { margin: 5px 0 9px; font-family: "Open Sans", sans-serif; font-size: 20px; }
#magazine .instagram .info > span.txt { margin-bottom: 10px; font-size: 13px; color: #999; line-height: 20px; }
#magazine .instagram .info > a { font-size: 13px; text-decoration: underline; }
#magazine .instagram .list { overflow: hidden; margin-right: -10px; margin-bottom: 90px; }
#magazine .instagram .list li { position: relative; float: left; margin-right: 10px; margin-bottom: 10px; overflow: hidden; width: 277px; height: 277px; }
#magazine .instagram .list li a { width: 277px; height: 277px; display: table-cell; vertical-align: middle; }
#magazine .instagram .list li img { width: 100%; display: block; }
#magazine .instagram .list li .over { display: none; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); /* 20171019 edit start */ /* 20171019 edit end */ }
#magazine .instagram .list li .over > div { width: 100%; position: absolute; top: 50%; left: 0; margin-top: -11px; }
#magazine .instagram .list li .over > div > span { display: block; margin: 0 20px; text-align: center; color: #fff; font-size: 14px; line-height: 22px; height: 22px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#magazine .instagram .list li .over > div > span em { display: block; height: 22px; }
#magazine .lookbook_wrap { border-top: 1px solid #e5e5e5; /* 20171019 edit start */ /* 20171019 edit end */ }
#magazine .lookbook_wrap .sub_title h3 { margin: 0 295px; /* 20171212 edit */ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#magazine .lookbook_wrap .sub_title .sort { top: 28px; }
#magazine .lookbook_wrap .sub_title .sort .dropdown { width: 288px; /* 20171212 edit */ }
#magazine .lookbook_wrap .lookbook_conts .season_banner { position: relative; text-align: center; }
#magazine .lookbook_wrap .lookbook_conts .season_banner .txts { position: absolute; top: 210px; left: 380px; color: #fff; }
#magazine .lookbook_wrap .lookbook_conts .season_banner .txts > p { font-family: "Open Sans", sans-serif; font-size: 80px; font-weight: 300; line-height: 85px; letter-spacing: 4px; }
#magazine .lookbook_wrap .lookbook_conts .season_banner .txts > p span { display: block; font-weight: 300; }
#magazine .lookbook_wrap .lookbook_conts .season_banner .txts > span { display: block; margin-top: 35px; font-size: 22px; }
#magazine .lookbook_wrap .lookbook_conts .list { overflow: hidden; position: relative; }
#magazine .lookbook_wrap .lookbook_conts .list:after { display: block; clear: both; content: ''; }
#magazine .lookbook_wrap .lookbook_conts .list ul { width: 1164px; }
#magazine .lookbook_wrap .lookbook_conts .list li { width: 100%; float: left; clear: both; position: relative; }
#magazine .lookbook_wrap .lookbook_conts .list li.template1 { margin-top: 100px; clear: none; width: 558px; overflow: hidden; margin-right: 24px; }
#magazine .lookbook_wrap .lookbook_conts .list li.template2 { margin-top: 150px; }
#magazine .lookbook_wrap .lookbook_conts .list li.template3 { margin-top: 110px; text-align: center; }
#magazine .lookbook_wrap .lookbook_conts .list li .vod_btn { display: block; position: absolute; left: 50%; top: 50%; margin: -30px 0 0 -30px; width: 60px; height: 60px; overflow: hidden; line-height: 500px; background: url("/front/img/ssts/common/spr_slider.png") -140px 0 no-repeat; }
#magazine .lookbook_wrap .lookbook_conts .list li img { max-width: 100%; }
#magazine.story .tit_h2 { text-align: center; margin-top: 40px; }
#magazine .story_list { width: 1400px; margin: 0 auto; }
#magazine .story_list ul { overflow: hidden; margin-right: -2.5%; }
#magazine .story_list ul li { position: relative; float: left; width: 22.5%; margin-right: 2.5%; margin-bottom: 20px; overflow: hidden; }
#magazine .story_list ul li a { display: block; font-size: 0; }
#magazine .story_list ul li a img { width: 100%; }
#magazine .story_list ul li a ul.tagList { position: absolute; top: 15px; }
#magazine .story_list ul li a ul.tagList li { float: left; padding: 3px 9px; margin: 0 0 0 15px; color: white; font-size: 15px; width: auto; }
#magazine .story_list ul li a ul.tagList li + li { margin-left: 8px; }
#magazine .story_list ul li a > p { padding: 27px 0 0; height: 180px; }
#magazine .story_list ul li a > p span { display: block; }
#magazine .story_list ul li a > p span.type { font-size: 12px; font-weight: 700; text-underline-position: under; text-decoration: underline }
#magazine .story_list ul li a > p span.tit { margin-bottom: 8px; font-size: 17px; font-weight: 700; margin-top: 16px; }
#magazine .story_list ul li a > p span.word1 { margin-bottom: 8px; font-size: 14px; letter-spacing: -1px; }
#magazine .story_list ul li:first-child { width: 47%; margin-right: 3% }
#magazine .story_list ul li:first-child a > p { padding-top: 51px; height: 310px; }
#magazine .story_list ul li:first-child a > p span { text-align: center; }
#magazine .story_list ul li:first-child a > p span.type { font-size: 14px; }
#magazine .story_list ul li:first-child a > p span.tit { font-size: 40px; font-weight: bold; margin-bottom: 12px; }
#magazine .story_list ul li:first-child a > p span.word1 { font-size: 20px; margin-bottom: 8px; }
#magazine .story_list ul li a > p span.date { font-size: 12px; color: #999; }
#magazine .story_wrap { border-top: 1px solid #e5e5e5; }
#magazine .story_wrap .story_conts b { font-weight: bold; }
#magazine .story_wrap .story_conts .list ul li.template { width: 100%; margin-top: 76px; position: relative; }
#magazine .story_wrap .story_conts .list ul li.template:first-child { margin-top: 0; }
#magazine .story_wrap .story_conts .list ul li.template img { width: 100%; }
#magazine .story_wrap .story_conts .list ul li.template div.cont div { position: relative; }
#magazine .story_wrap .story_conts .list ul li.template._3:after, #magazine .story_wrap .story_conts .list ul li.template._5:after, #magazine .story_wrap .story_conts .list ul li.template._6:after {content:'';display:block;clear:both;}
#magazine .story_wrap .story_conts .list ul li.template div.left { width: 49%; float: left; }
#magazine .story_wrap .story_conts .list ul li.template div.right { width: 49%; float: right; }
#magazine .story_wrap .story_conts .list ul li.template._5 div.cont { width: 49%; position: absolute; right: 0; bottom: 0; background: #fff; }
#magazine .story_wrap .story_conts .list ul li.template._6 div.cont { width: 49%; position: absolute; left: 0; bottom: 0; background: #fff; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper { position: relative; margin: auto; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-controls-direction a { position: absolute; top: 40%; width: 25px; height: 40px; margin-top: -20px; background: url("/front/img/ssts/common/spr_slider.png") 0 0 no-repeat; text-indent: -9999px; z-index: 100; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-controls-direction a.disabled { display: none; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-controls-direction a.bx-prev { left: 10px; background-position: -40px -60px; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-controls-direction a.bx-next { right: 10px; background-position: -80px -60px; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-pager { position: absolute; height: 9px; bottom: 30px; width: 100%; text-align: center; z-index: 100; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-pager .bx-pager-item { display: inline-block; margin: 0 4px; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-pager .bx-pager-item a { display: block; width: 9px; height: 9px; background: url("/front/img/ssts/common/spr_slider.png") 0 0 no-repeat; text-indent: -9999px; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-pager .bx-pager-item a.bx-pager-link { background-position: -21px -61px; }
#magazine .story_wrap .story_conts .list ul li.template._7 .bx-wrapper .bx-pager .bx-pager-item a.active { background-position: -1px -61px; }
#magazine .thumbnail-list .card.card-goods {
    margin-bottom: 60px;
}

.lookbook_layer { visibility: hidden; }
.lookbook_layer .layer_bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 11000; }
.lookbook_layer .popup { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 12000; }
.lookbook_layer .popup .lookbook_txt { position: fixed; top: 0; left: 0; width: 100%; background: rgba(0, 0, 0, 0.5); z-index: 2; }
.lookbook_layer .popup .lookbook_txt .tit { display: block; margin: 0 500px 0 40px; padding: 16px 0 20px; font-size: 18px; color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.lookbook_layer .popup .sns_wrap { position: fixed; right: 122px; top: 20px; z-index: 3; font-size: 0; }
.lookbook_layer .popup .sns_wrap > a { display: inline-block; height: 24px; margin-right: 10px; background: url("/front/img/ziozia/common/spr_view_sns.png") no-repeat 0 0; text-indent: -9999px; vertical-align: top; }
.lookbook_layer .popup .sns_wrap > a.fb { width: 13px; margin-right: 18px; background-position: -1px -68px; }
.lookbook_layer .popup .sns_wrap > a.kt { width: 14px; margin-right: 18px; background-position: -32px -68px; }
.lookbook_layer .popup .sns_wrap > a.naver { width: 24px; background-position: -64px -68px; }
.lookbook_layer .popup .sns_wrap > a.google { width: 30px; background-position: -98px -68px; }
.lookbook_layer .popup .sns_wrap > a.pinterest { width: 24px; background-position: -138px -68px; }
.lookbook_layer .popup .sns_wrap .copy { display: inline-block; }
.lookbook_layer .popup .sns_wrap .copy a { font-size: 14px; color: #fff; font-weight: bold; }
.lookbook_layer .popup .sns_wrap .copy:before { content: ''; display: inline-block; width: 1px; height: 22px; margin: 0 20px 0 10px; background: #928a8c; vertical-align: middle; }
.lookbook_layer .popup .pop_zoom { position: fixed; right: 60px; top: 20px; width: 22px; height: 22px; background: url("/front/img/ssts/common/spr_common.png") -150px 0 no-repeat; text-indent: -9999px; z-index: 3; }
.lookbook_layer .popup .pop_zoom:before { content: ''; display: block; position: absolute; top: 1px; left: -20px; width: 1px; height: 22px; background: #928a8c; vertical-align: middle; }
.lookbook_layer .popup .slider_list { position: relative; height: 100%; z-index: 1; }
.lookbook_layer .popup .slider_list li { position: absolute; width: 100%; height: 100%; }
.lookbook_layer .popup .slider_list li .clt_thumb { overflow: hidden; }
.lookbook_layer .popup .slider_list li .clt_thumb img { display: block; margin: 0 auto; }
.lookbook_layer .popup .slider_list li .clt_thumb iframe { position: absolute; top: 50%; left: 50%; width: 720px; height: 404px; margin: -202px 0 0 -360px; }
.lookbook_layer .popup .slider_list li .clt_zoom { position: absolute; top: 0; left: 0; display: none; width: 100%; height: 100%; z-index: 0; }
.lookbook_layer .popup .slider_list li .clt_zoom .zoom_outer { position: absolute; background: #d5d4d2; min-width: 100%; height: 100%; }
.lookbook_layer .popup .slider_list li .clt_zoom .zoom_outer .zoom_inner img { display: block; margin: 0 auto; }
.lookbook_layer .popup .slider_list li .clt_recom { position: fixed; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.8); }
.lookbook_layer .popup .slider_list li .clt_recom .inner { overflow-x: auto; overflow-y: hidden; height: 142px; padding: 1px 19px 1px 1px; }
.lookbook_layer .popup .slider_list li .clt_recom .inner .recom { font-size: 0; }
.lookbook_layer .popup .slider_list li .clt_recom .inner .recom a { display: inline-block; width: 130px; margin-right: 1px; background: #fff; text-align: center; }
.lookbook_layer .popup .slider_list li .clt_recom .inner .recom a img { height: 140px; }
.lookbook_layer .popup .slider_list li .clt_recom .inner .recom_close { position: absolute; top: 0; right: 0; width: 18px; height: 100%; text-indent: -9999px; }
.lookbook_layer .popup .slider_list li .clt_recom .inner .recom_close:before { content: ''; display: block; position: absolute; top: 50%; right: 7px; background: url("/front/img/ssts/common/spr_common.png") 0 -50px no-repeat; width: 5px; height: 9px; }
.lookbook_layer .popup .slider_list li .clt_recom.open .recom_close:before { background-position: -50px -50px; }
.lookbook_layer .popup .slider_nav a { position: fixed; top: 50%; margin-top: -19px; width: 22px; height: 39px; background: url("/front/img/ssts/common/spr_product.png") -50px 0 no-repeat; text-indent: -9999px; z-index: 9; }
.lookbook_layer .popup .slider_nav a.prev { left: 40px; }
.lookbook_layer .popup .slider_nav a.next { right: 40px; background-position: -100px 0; }
.lookbook_layer .popup .pop_cls { position: fixed; right: 20px; top: 20px; width: 23px; height: 22px; overflow: hidden; background: url("/front/img/ssts/common/spr_common.png") -200px 0 no-repeat; text-indent: -9999px; z-index: 3; }

/* layer_instagram 20171228 edit */
.layer_instagram .popup { width: 1140px; height: 600px; }
.layer_instagram .popup .head { position: absolute; top: 20px; right: 20px; width: 14px; height: 14px; padding: 0; border: 0 none; z-index: 1; }
.layer_instagram .popup .head .btn_close { top: 0; right: 0; margin-top: 0; }
.layer_instagram .popup .image { float: left; width: 600px; }
.layer_instagram .popup .image > div { display: table-cell; width: 600px; height: 600px; vertical-align: middle; text-align: center; }
.layer_instagram .popup .image img { max-width: 600px; }
.layer_instagram .popup .body { float: left; width: 540px; height: 600px; }
.layer_instagram .popup .body .scroll_inner { padding: 40px; }
.layer_instagram .popup .body .scroll_inner .instagram_conts { font-size: 13px; line-height: 20px; height: 320px; overflow: hidden; }
.layer_instagram .popup .body .scroll_inner .instagram_conts a { color: #003569; letter-spacing: -0.3px; }
.layer_instagram .popup .body .scroll_inner .instagram_conts .mCSB_inside > .mCSB_container { margin-right: 12px; }
.layer_instagram .popup .body .scroll_inner .instagram_conts .mCSB_scrollTools .mCSB_draggerRail { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.layer_instagram .popup .body .scroll_inner .prd_with_list { padding-top: 15px; }
.layer_instagram .popup .body .scroll_inner .prd_with_list .tit { position: relative; margin-bottom: 20px; font-family: "Open Sans", sans-serif; font-weight: 600; font-size: 16px; }
.layer_instagram .popup .body .scroll_inner .prd_with_list .tit:after { content: ''; display: block; position: absolute; left: 163px; top: 11px; right: 0; height: 1px; background: #111; vertical-align: top; }
.layer_instagram .popup .body .scroll_inner .prd_with_list ul { overflow: hidden; margin-right: -13px; }
.layer_instagram .popup .body .scroll_inner .prd_with_list ul li { float: left; margin-right: 13px; }
.layer_instagram .popup .body .scroll_inner .prd_with_list ul li img { width: 105px; }
.layer_instagram .popup .body .mCSB_scrollTools .mCSB_draggerContainer { top: 5px; bottom: 5px; }

/*# sourceMappingURL=magazine.css.map */
