@charset "UTF-8";
/* 인트로 */
#intro { position: fixed; top: 0; left: 0; width: 100%; overflow: hidden; z-index: 100; background: #fff; }
#intro .intro_rolling { position: relative; overflow: hidden; z-index: 1; }
#intro .intro_rolling .bx-wrapper { overflow: hidden; }
#intro .intro_rolling .bx-viewport { z-index: 10; }
#intro .intro_rolling .bx-viewport ul { height: 100%; overflow: hidden; margin: 0; padding: 0; }
#intro .intro_rolling .bx-viewport ul li { height: 100%; overflow: hidden; overflow: hidden; z-index: 1; float: left; width: 100%; }
#intro .intro_rolling .visual { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; z-index: -1; }
#intro .intro_rolling .txt_area { position: relative; top: 50%; margin-top: -35px; text-align: center; z-index: 100; }
#intro .intro_rolling .txt_area p { display: block; margin-bottom: 15px; }
#intro .intro_rolling .txt_area p img { height: 36px; }
#intro .intro_rolling .txt_area a { display: inline-block; font-family: "Maven Pro", sans-serif; font-size: 12px; color: #fff; }
#intro .intro_rolling .txt_area a:after { content: ''; display: block; width: 100%; height: 1px; background: #fff; }
#intro .intro_movie { position: relative; overflow: hidden; z-index: 1; background: #111; }
#intro .intro_movie .intro_cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; z-index: 5; }
#intro .intro_movie .mov_cont { position: absolute; top: 50%; left: 0; width: 100%; height: 100%; }
#intro .intro_movie .mov_cont iframe { width: 100%; height: 100%; }
#intro .intro_movie .btn_play { position: absolute; top: 50%; left: 50%; width: 42px; height: 42px; margin: -21px 0 0 -21px; background: url("/m/front/img/andz/common/spr_slider.png") 0 -20px no-repeat; background-size: 50px auto; text-indent: -9999px; z-index: 50; }
#intro .intro_close { position: absolute; top: 20px; right: 15px; width: 14px; height: 13px; background: url("/m/front/img/andz/common/spr_slider.png") -30px 0 no-repeat; background-size: 50px auto; text-indent: -9999px; cursor: pointer; z-index: 100; }

.main-tl { text-align: center; padding-bottom: 25px; text-align: center; position: relative; }
.main-tl:before { position: absolute; top: 10px; left: 0; content: ''; display: block; background-color: #ddd; width: 100%; height: 1px; z-index: 1; }
.main-tl ul { display: inline-block; background-color: #fff; position: relative; z-index: 4; padding: 0 10px; }
.main-tl ul li { display: inline; }
.main-tl a { font-family: "Maven Pro", sans-serif; font-size: 18px; font-weight: 400; line-height: 20px; display: inline-block; margin: 0 10px; vertical-align: top; border-bottom: 1px solid #fff; color: #999; }
.main-tl a.on { border-color: #111; color: #111; }
.main-tl > i { display: block; font-size: 11px; font-family: "Maven Pro", sans-serif; font-weight: 400; color: #666; margin-top: 10px; }
.main-tl > b { display: inline-block; background-color: #fff; position: relative; z-index: 4; padding: 0 10px; }
.main-tl > b a { color: #111; }

/* 메인 상단 롤링 */
.main_rolling { z-index: 1; position: relative; }
.main_rolling .main_visual { /* 20180125 edit */ }
.main_rolling .main_visual .swiper-slide { position: relative; }
.main_rolling .main_visual .swiper-slide a { display: block; position: relative; }
.main_rolling .main_visual .swiper-slide img.bnr, .main_rolling .main_visual .swiper-slide img.ratio { width: 100%; display: block; }
.main_rolling .main_visual .swiper-slide img.bnr { position: absolute; top: 0; left: 0; }
.main_rolling .main_visual .swiper-slide iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.main_rolling .main_visual .swiper-slide .bg_play { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #111; opacity: .5; }
.main_rolling .main_visual .swiper-slide .btn_play { position: absolute; top: 50%; left: 50%; background: url("/m/front/img/andz/common/spr_slider.png") 0 0 no-repeat; background-size: 50px auto; background-position: 0 -20px; width: 42px; height: 42px; margin: -21px 0 0 -21px; overflow: hidden; line-height: 500px; }

.main_category { margin-top: 30px; }
.main_category ul li a { display: block; height: 85px; position: relative; background-position: 0 50%; background-repeat: no-repeat; background-size: auto 100%; padding-left: 139px; }
.main_category ul li a:before { position: absolute; top: 0; left: 0; content: ''; display: block; width: 100%; height: 100%; height: 83px; border-top: 1px solid #000; border-bottom: 1px solid #000; opacity: .1; filter: alpha(opacity=10); }
.main_category ul li a span { font-family: "Maven Pro", sans-serif; font-weight: 500; font-size: 16px; line-height: 20px; display: block; padding: 33px 0 0 25px; height: 85px; background-color: #fff; }
.main_category ul li + li { margin-top: 5px; }

/*
.main_suggest {
	margin: 15px 4.7% 0;
	a {
		display: block;
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		.wrp {
			@include posa_bl(75px,0);
			text-align: center;
			width: 100%;
			* {
				display: block;
			}
			b {
				//font-family: $co;
				font-size: 35px;
				line-height: 36px;
				margin: 0 30px;
				max-height: 108px;
			}
			i {
				font-size: 13px;
				margin: 40px 30px 0;
				@include ellipsis;
			}
		}
	}
	a + a {
		margin-top: 15px;
	}
	a.wt .wrp {
		color: $white;
	}
	&:after {
		@include clearfix();
	}
}
.main_online {
	margin-top: 45px;
	border-top: 1px solid #ddd;
	padding: 45px 0 0;
	position: relative;
	h2 {
		text-align: center;
		font-size: 15px;
		line-height: 20px;
		padding-bottom: 25px;
		font-family: $mp;
		font-weight: $b;
	}
	.thumbnail-only {
		margin: 0 4.7%;
		color: $white;
		position: relative;
		text-align: center;
		img {
			&.thumb {
				width: 100%;
				display: block;
			}
		}
		.thumb_etc {
			position: absolute;
			left: 0;
			bottom: 45px;
			width: 100%;
			h3 {
				//font-family: $co;
				font-size: 35px;
				* {
					display: block;
					margin: 0 30px;
				}
				i {
					font-family: $mp;
					font-size: 13px;
					font-weight: $r;
					@include ellipsis;
				}
				b {
					margin-top: 15px;
					font-size: 35px;
					line-height: 36px;
					max-height: 108px;
					overflow: hidden;
				}
			}
			.h3_etc {
				margin: 80px 30px 0;
				a {
					color: $white;
					display: inline-block;
					border: 1px solid $white;
					font-family: $mp;
					font-size: 12px;
					font-weight: $b;
					line-height: 32px;
					height: 32px;
					width: 43.5%;
					text-align: center;
					white-space: nowrap;
				}
			}
		}


	}
	.thumbnail-list {
		margin: 30px 4.7% 0;
		overflow: hidden;
		ul {
			margin: 0 0 -45px -20px;
			&:after {
				@include clearfix();
			}
			li {
				padding: 0;
				a {
					margin-left: 20px;
				}
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}
	&:after {
		@include clearfix();
	}
}
*/
.main_feature { margin-top: 75px; }
.main_feature:after { display: block; clear: both; content: ''; }
.main_feature .main-tl { margin: 0 4.7%; }

/* main-slider-thumbnail 20180125 edit */
/* .main-slider-thumbnail { margin: 0 4.7%; } */

/*.youtube-movie {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	}
}*/
/* main_movie 20180123 edit */
.main_movie { margin-top: 70px; position: relative; overflow: hidden; }
.main_movie:after { display: block; clear: both; content: ''; }
.main_movie .main-tl i { margin-top: 5px; }
.main_movie .movie { /* 20180119 edit */ position: relative; }
.main_movie .movie .youtube-movie { position: relative; height: 0; padding-bottom: 56.25%; }
.main_movie .movie .youtube-movie iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.main_movie .movie a { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
.main_movie .movie img.bnr { display: block; width: 100%; }
.main_movie .movie .bg_play { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #111; opacity: .5; }
.main_movie .movie .btn_play { position: absolute; top: 50%; left: 50%; background: url("/m/front/img/andz/common/spr_slider.png") 0 0 no-repeat; background-size: 50px auto; background-position: 0 -20px; width: 42px; height: 42px; margin: -21px 0 0 -21px; overflow: hidden; line-height: 500px; }

.main_instagram { padding: 50px 4.7% 0; overflow: hidden; }
.main_instagram .main-tl i { display: block; font-weight: normal; margin-top: 20px; }
.main_instagram .main-tl i a { display: inline-block; line-height: 19px; background: url(/m/front/img/andz/main/icon_instagram.png) no-repeat 0 0; background-size: 18px 18px; height: 19px; padding-left: 24px; font-size: 11px; color: #111; font-family: sans-serif; }
.main_instagram ul { overflow: hidden; margin: -5px 0 0 -5px; }
.main_instagram ul li { float: left; width: calc(100%/2 - 5px); padding-bottom: calc(100%/2 - 5px); overflow: hidden; position: relative; margin: 5px 0 0 5px; }
.main_instagram ul li a { display: block; position: absolute; width: 100%; height: 100%; text-align: center; }
.main_instagram ul li a img { width: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-height: 100%; max-width: 100%; }
.main_instagram .more { margin-top: 30px; }

.main_thumblist { margin: 45px 4.7% 0; /*
&.magazine {
	margin-top: 60px;
	ul {
		li {
			a {
				padding: 330px 20px 25px;
				&:before {
					width: 328px;
				}
				.wrp {
					font-family: 'malgun gothic';
					height: 91px;
					b {
						font-size: 16px;
						font-weight: bold;
						max-height: none;
						display: block;
						white-space: nowrap;
					}
					i {
						display: block;
						border: 0;
						font-size: 12px;
						color: $gray;
						max-height: 32px;
						overflow: hidden;
						display:-webkit-box;
						display:-ms-flexbox;
						display:box;
						text-overflow:ellipsis;
						-webkit-box-orient:vertical;
						-webkit-line-clamp:2;
					}
				}
			}
		}
	}
}
*/ }
.main_thumblist:after { display: block; clear: both; content: ''; }
.main_thumblist ul li { margin: 30px 0 0; padding-bottom: 2px; }
.main_thumblist ul li:first-child { margin-top: 0; }
.main_thumblist ul li a { display: block; /*background-position: center 0;
background-repeat: no-repeat;
background-size: 100% auto;
padding: 400px 40px 25px;*/ position: relative; overflow: hidden; }
.main_thumblist ul li a:before, .main_thumblist ul li a:after { position: absolute; top: 0; left: 0; content: ''; display: block; width: 100%; height: 100%; border-top: 1px solid #111; border-left: 1px solid #111; opacity: .1; }
.main_thumblist ul li a:after { top: auto; left: auto; bottom: 0; right: 0; border: 0; border-bottom: 1px solid #111; border-right: 1px solid #111; }
.main_thumblist ul li a img.thumb { display: block; width: 100%; }
.main_thumblist ul li a .wrp { display: block; padding: 20px 15px; font-family: "Maven Pro", sans-serif; font-weight: 400; }
.main_thumblist ul li a .wrp b { display: block; font-size: 18px; line-height: 1.1; }
.main_thumblist ul li a .wrp i { display: inline-block; font-size: 12px; margin: 10px 0 0; border-bottom: 1px solid #111; }
.main_thumblist.magazine ul li a .wrp { font-family: sans-serif; font-weight: normal; }
.main_thumblist.magazine ul li a .wrp b { font-size: 13px; font-weight: bold; }
.main_thumblist.magazine ul li a .wrp i { display: block; border: 0; font-size: 11px; color: #666; }

/*# sourceMappingURL=main.css.map */
